body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.contact-info {
    font-family: Arial, sans-serif;
    color: #333;
}

.contact-info h2 {
    color: #0056b3; /* Change this color as needed */
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.contact-info ul li a {
    color: #007bff; /* Color for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info ul li a:hover,
.contact-info ul li a:focus {
    color: #0056b3; /* Color when hovered/focused */
}

/* Button style */
.resume-download-button {
    justify-content: center;
    display: flex;
    padding: 10px 20px;
    margin: 0; /* Margin set to 0 for accurate centering */
    background-color: #0056b3; /* Adjust the color to match your site's theme */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
    top: 0;
    left: 0;
    margin-bottom: 40px;
}

.resume-download-button:hover,
.resume-download-button:focus {
    background-color: #003d82; /* Darker shade for hover effect */
    color: #ffffff;
    text-decoration: none; /* No underline on hover */
}


.work-experience {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px; 
}

.company-logo {
    /* Your existing styles */
    width: 200px;
    margin-right: 5px; /* Adjust right margin to create more space between logo and details */
}

.experience-details {
    margin-right: 10px; /* Add right margin if needed */
}

.role-description {
    padding-top: 5px;
    margin-left: 70px;
}

p {
    margin-bottom: 5px; /* Adjust bottom margin of paragraphs to increase spacing between lines */
}
