@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.software-skill-inline > i, /* FontAwesome icons */
.software-skill-inline > img {
  /* Custom SVG icons */
  font-size: 3rem; /* Ensure both icons have the same base size */
  color: $subTitle;
  transition: all 0.3s ease-in-out;
}

.software-skill-inline > i:hover,
.software-skill-inline > img:hover {
  color: $skillsColor; /* Ensure both FontAwesome and SVG icons have the same hover color */
  transform: scale(1.1); /* Apply the same zoom effect on hover */
  filter: drop-shadow(
    0 0 10px $skillsColor
  ); /* Glowing effect with the same color */
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
  transition: color 0.3s ease-in-out;
}

.software-skill-inline:hover > p {
  color: $skillsColor; /* Text color changes on hover for both icon types */
}
